.element {
  height: 100px;
  width: 100px;
}

.display-flex {
  margin: 0 auto;
  gap: 12px;
  border: 1px solid red;
  max-width: 600px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  border-radius: 5%;
}
